<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests" thread-count="5" verbose="0">
    <test name="Test01">
        <parameter name="browserName" value="chrome" />
        <classes>
            <class name="testRunners.TestRunner"/>
        </classes>
    </test>

    <!--test name="Test02">
        <parameter name="browserName" value="firefox" />
        <classes>
            <class name="testRunners.TestRunner"/>
        </classes>
    </test-->

</suite>